# traefik.yml — оптимизированная статическая конфигурация

# -------------------
# Основные секции
# -------------------
log:
  level: INFO
  # filePath: /logs/traefik.log

accessLog:
  format: "json"
  filePath: /logs/access.log
  filters:
    statusCodes:
      - "200-299"
      - "300-399"
      - "400-499"
      - "500-599"
    retryAttempts: true
    minDuration: "10ms"

api:
  dashboard: true
  insecure: false

# -------------------
# EntryPoints (оптимизированные)
# -------------------
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
    transport:
      respondingTimeouts:
        readTimeout: 0s
        writeTimeout: 0s
        idleTimeout: 0s

  websecure:
    address: ":4443"
    transport:
      # respondingTimeouts:
      #   readTimeout: 30s
      #   writeTimeout: 30s
      #   idleTimeout: 180s
      respondingTimeouts:
        readTimeout: 0s
        writeTimeout: 0s
        idleTimeout: 0s
    proxyProtocol:
      trustedIPs:
        - "172.18.0.0/24"
        - "172.19.0.0/24"
    forwardedHeaders:
      trustedIPs:
        - "172.18.0.0/24"
        - "172.19.0.0/24"
    http3:
      advertisedPort: 4443

  l4tcp:
    address: ":443"
    transport:
      respondingTimeouts:
        readTimeout: 0s
        writeTimeout: 0s
        idleTimeout: 0s

  l4udp:  
    address: ":443/udp"
    transport:
      respondingTimeouts:
        readTimeout: 0s
        writeTimeout: 0s
        idleTimeout: 0s

# -------------------
# Провайдеры (оптимизированные)
# -------------------
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: traefik-proxy
    watch: true
    constraints: "Label(`traefik.tags`,`traefik`)"
  file:
    filename: /dynamic/crowdsec.yml
    watch: true
# -------------------
# ACME / Let's Encrypt (оптимизированный)
# -------------------
certificatesResolvers:
  le:
    acme:
      storage: /acme.json
      httpChallenge:
        entryPoint: web
      keyType: "EC256"
      preferredChain: "ISRG Root X1"

# -------------------
# Плагины (обновленные версии)
# -------------------
experimental:
  plugins:
    bouncer:
      moduleName: "github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin"
      version: "v1.4.6"
    traefik-plugin-rewrite-headers:
      moduleName: "github.com/XciD/traefik-plugin-rewrite-headers"
      version: "v0.0.4"
    fullUrlRewrite:
      moduleName: "github.com/e-flux-platform/full-url-rewrite-traefik-plugin"
      version: "v0.0.7"
