import *.caddy

###############################################################################
#                          ГЛОБАЛЬНЫЕ НАСТРОЙКИ                               #
###############################################################################
{
	debug
	order crowdsec before respond

	auto_https off

	# snippets
	import crowdsec_config
	import logs_global
}

# порту Caddy слушает все запросы от Traefik
:{$PORT_LOCAL_CADDYWEB} {
	route {
		crowdsec
		appsec

		root * /srv
		file_server
		try_files {path} /index.html
	}

	handle_errors {
		route {
			crowdsec
			appsec

			root * /srv
			file_server
			try_files {path} /index.html
		}
	}
}
