# /templates/traefik_default-headers.yml (DEPRECATED - используйте traefik_optimized-middlewares.yml)
# Этот файл оставлен для обратной совместимости
# Новые конфигурации должны использовать middleware из traefik_optimized-middlewares.yml

http:
  middlewares:
    # Устаревший middleware - используйте security-headers@file
    default-headers:
      headers:
        sslRedirect: true
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        stsPreload: true
        contentTypeNosniff: true
        browserXssFilter: true
        frameDeny: true
        referrerPolicy: "no-referrer"
        accessControlAllowOriginList:
          - "https://${WEBDOMAIN}"
        accessControlAllowMethods:
          - GET
          - POST
          - OPTIONS
        accessControlAllowHeaders:
          - Origin
          - Content-Type
          - Accept
        accessControlAllowCredentials: true
        addVaryHeader: true
        accessControlMaxAge: 600
        customResponseHeaders:
          # Cross-Origin-Opener-Policy: "same-origin"
          # Cross-Origin-Resource-Policy: "same-origin"
          server: ""
          Permissions-Policy: "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"
